/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
.legend {
  height:100%;
  margin-top:10px;
}

.main-wrapper {
  margin:60px auto;
  width:80%;
}

.search-form {
  text-align:center;
}

#gmap {
  width:400px;
  height:400px;
}

.hidden {
    display:none;
}

#gmap  {
    width:55%;
    float:left;
}
#tweets {
    width:40%;
    float:right;
}

.tweet-list li {
    list-style: none;
    text-shadow: 2px 2px white;
}